@font-face {
	font-family: MainFont;
	src: url('./img/NiseSegaSaturnU.TTF');
}

* {
	padding: 0;
	margin: 0;
}

body {
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	background: transparent;
	color: #798bc3;
	font-family: MainFont;
	text-transform: uppercase;
}

#scoreBG {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	background: url(img/score.png) no-repeat;
	opacity: 0;
}

#grandsBG {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 1px;
	background: url(img/grands.png) no-repeat;
	opacity: 0;
}

.wrappers {
	padding: 0px;
	margin: 0px;

	position: absolute;
	width: 383px;
	height: 44px;
	top: 9px;

	line-height: 44px;
	text-align: center;
	font-size: 24px;
	opacity: 0;
	text-transform: uppercase;
}

#p1Wrapper {
	left: 417px;
}

#p2Wrapper {
	left: 1086px;
}


.teams{
	opacity: 0.7;
}

/* #p1Team {
	color: #eb2532;
}

#p2Team {
	color: #0078dd;
} */

.scores {
	position: absolute;
	width: 44px;
	height: 44px;

	line-height: 44px;
	text-align: center;
	font-size: 52px;
	top: 12px;
	opacity: 0;
	color: #fff;

	/* background-color: green; */

	font-family: MainFont;
}

#p1Score {
	left: 824px;
}

#p2Score {
	left: 1022px;
}

.rounds {
	position: absolute;
	width: 254px;
	height: 30px;
	left: 1660px;
	top: 7px;
	font-family: MainFont;
	color: #fff;

	line-height: 30px;
	text-align: center;
	font-size: 24px;
	opacity: 0;
	text-transform: uppercase;
}

.formats {
	position: absolute;
	width: 106px;
	height: 20px;
	left: 1808px;
	top: 37px;

	line-height: 20px;
	text-align: center;
	font-size: 15px;
	font-family: MainFont;
	color: #798bc3;
	opacity: 0;
	text-transform: uppercase;
}

#gameHold {
	display: none;
}

.indicator {
	position: absolute;
	width: 92px;
	height: 20px;
	top: 54px;	

	line-height: 20px;
	text-transform: uppercase;
	font-size: 15px;
	font-family: MainFont;
	text-align: center;
	color: #fff;
}

#p1Grands{
	left: 398px;

}

#p2Grands{
	left: 1396px;

}