@font-face {
	font-family: MainFont;
	src: url('../TMTT/font/NotoSans-Black.ttf')
}

@font-face {
	font-family: SecondaryFont;
	src: url('../TMTT/font/NotoSans-Bold.ttf');
}

@font-face {
	font-family: TertiaryFont;
	src: url('../TMTT/font/NotoSans-Medium.ttf')
}


* {
padding: 0;
margin: 0;
}

body {
width: 1920px;
height: 1080px;
overflow: hidden;
background: transparent;
color: #eeeeee;
font-family: MainFont;
text-transform: uppercase;
text-shadow: 1px 1px black;
}

#scoreBG {
position: absolute;
left: 0px;
right: 0px;
bottom: 0px;
top: 0px;
background: url(img/TT_doubles.png) no-repeat;
}

#grandsBG {
position: absolute;
left: 0px;
right: 0px;
bottom: 0px;
top: -1000px;
/* background: url(img/grands.png) no-repeat; */
opacity: 0;
}

.wrappers {
padding: 0px;
margin: 0px;

position: absolute;
width: 340px;
height: 44px;
left: 300px;
line-height: 44px;
font-size: 26px;
opacity: 0;
text-align: center;
/* background-color: burlywood; */
}

#p1Wrapper {
	top: 442px;
}

#p2Wrapper {
	top: 571px;
}

#p3Wrapper {
	top: 488px;
}
	
#p4Wrapper {
	top: 618px;
}

.teams{
/* opacity: 0.7; */
color: #d6dae3;
}

.scores {
position: absolute;
width: 71px;
height: 68px;

line-height: 68px;
text-align: center;
font-size: 60px;
left: 50px;
opacity: 0;
/* background-color: #F15959; */
}

#p1Score {
	top: 450px;
}

#p2Score {
	top: 580px;
}

#p3Score {
	left: -1684px;
}

#p4Score {
	left: -1684px;
}





#rdWrapper {
	position: absolute;
	width: 605px;
	height: 46px;
	left: 982px;
	top: 18px;

	line-height: 46px;
	text-align: center;
	font-size: 15px;
	/* background-color: rebeccapurple; */

	opacity: 0;
}

#gameHold {
display: none;
}

.indicator {
position: absolute;
width: 180px;
height: 42px;
top: 18px;	

line-height: 42px;
text-transform: uppercase;
font-size: 22px;
font-family: MainFont;

/* background-color: chartreuse; */
}

#p1Grands{
left: 357px;
text-align: left;
padding-left: 20px;
}

#p2Grands{
left: 1363px;
text-align: right;
padding-right: 20px;

}

.ports {
	position: absolute;
	width: 260px;
	height: 100px;
	left: 130px;

	z-index: -1;
	transition-duration: 0.3s;

}

#port1 {
	top: 440px;
	background-color: #F15959;
}

#port2 {
	top: 570px;
	background-color: #6565FE;
}

#port3 {
	top: 3570px;
	background-color: #6565FE;
}

#port4 {
	top: 3570px;
	background-color: #6565FE;
}