@font-face{
	font-family: MainFont;
	src: url('../fonts/Tungsten/Tungsten-Bold.ttf');	
}

*{
	padding:0;
	margin:0;
}

body{
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	background: transparent;
	color: white;
	font-family: MainFont;
	text-transform: uppercase;
} 

#commBG{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background: url(img/comm.png) no-repeat;
 }

.wrappers{
	padding:0px;
	margin:0px;

	position: absolute;
	width:	656px;
	height: 147px;
	top: 932px;

	line-height: 147px;
	text-align: center;	
	font-size: 32px;
	opacity: 0;
}

#c1Wrapper{
	left: 100px;
	/* background-color: rebeccapurple; */
}

#c2Wrapper{
	right: 100px;
	/* background-color: rebeccapurple; */

}

.team{
	opacity: 0.7;
}

.twitters{
	padding:0px;
	margin:0px;

	position: absolute;
	width:	357px;
	height: 30px;
	top: 900px;

	line-height: 30px;
	text-align: center;	
	font-size: 20px;
	opacity: 0;
}