@font-face {
	font-family: MainFont;
	src: url('../fonts/Vegabond-Regular.ttf');	

}

@font-face {
	font-family: ScoreFont;
	src: url('../fonts/Moctavo.ttf');	

}

@font-face {
	font-family: BracketFont;
	src: url('../fonts/Erato\ W01\ Regular.ttf');	

}

*{
	padding: 0;
	margin: 0;
}

body{
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	background: transparent;
	color: white;
	font-family: MainFont;
	text-transform: uppercase;
} 

#commBG{
  position: absolute;
	width: 1920px;
	height: 86px;
  bottom: 240px;
  background: url("./thirds/commentary.png") no-repeat;
 }

 .wrappers{
	padding:0px;
	margin:0px;

	position: absolute;
	width:	400px;
	height: 44px;
	bottom: 264px;

	line-height: 44px;
	font-size: 32px;
	opacity: 0;

	/* background-color: green; */
    
}

#c1Wrapper{
	text-align: left;	
	left: 220px;
}

#c2Wrapper{
	text-align: right;	
	right: 220px;
}

.twitters{
	padding:0px;
	margin:0px;

	position: absolute;
	width:	357px;
	height: 30px;
	top: 900px;

	line-height: 30px;
	text-align: center;	
	font-size: 20px;
	opacity: 0;
}

#c1Twitter{
	left: 287px;
}

#c2Twitter{
	left: 1271px;
}

.team{
	color: crimson;
}