@font-face {
  font-family: MainFont;
  src: url('DeaconFlock.otf');
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background: transparent;
  color: white;
  font-family: MainFont;
  text-transform: uppercase;
  
}

#l3rdBG {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background: url(img/lower_third.png) no-repeat;
}

#l3rdsTop {
  padding: 0px;
  margin: 0px;

  position: absolute;
  width: 430px;
  height: 80px;
  top: 863px;
  left: 284px;

  line-height: 80px;
  text-align: center;
  font-size: 32px;

  opacity: 0;

  /* background-color: plum; */
}

#l3rdsBottom {
  padding: 0px;
  margin: 0px;

  position: absolute;
  width: 430px;
  height: 40px;
  top: 930px;
  left: 284px;

  line-height: 40px;
  text-align: center;
  font-size: 24px;

  opacity: 0;

  /* background-color: forestgreen; */

}

