@font-face {
	font-family: MainFont;
	src: url('DeaconFlock.otf');	

}

* {
	padding: 0;
	margin: 0;
}

body {
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	background: transparent;
	color: white;
	font-family: MainFont;
	text-transform: uppercase;


}

#scoreBG {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	background: url(img/melee_main.png) no-repeat;
	opacity: 0;
}

#grandsBG {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	background: url(img/grands.png) no-repeat;
	opacity: 0;
}

.wrappers {
	padding: 0px;
	margin: 0px;

	position: absolute;
	width: 295px;
	height: 50px;
	top: 1017px;

	line-height: 50px;
	text-align: center;
	font-size: 40px;
	opacity: 0;

	
	/* background-color: brown; */
}

#p1Wrapper {
	left: 185px;
	text-align: left;
}

#p2Wrapper {
	left: 777px;
	text-align: right;
}

.teams {
	color: #ff00a4;
}

.scores {
	position: absolute;
	width: 75px;
	height: 75px;

	line-height: 75px;
	text-align: center;
	font-size: 60px;
	top: 994px;
	opacity: 0;

	color: black;

	/* background-color: red; */

}

#p1Score {
	left: 55px;
}

#p2Score {
	left: 1131px;
}

.rounds {
	position: absolute;
	width: 260px;
	height: 75px;
	left: 502px;
	top: 1002px;
	
	line-height: 75px;
	text-align: center;
	font-size: 70px;
	opacity: 0;
	
	font-family: MainFont;

	/* background-color: brown; */
	}

.formats {
	position: absolute;
	width: 1px;
	height: 1px;
	left: 49px;
	top: -101px;
	
	line-height: 1px;
	text-align: center;
	font-size: 70px;
	opacity: 0;
	
	font-family: MainFont;

	/* background-color: brown; */
	}

/* .indicator {
	position: absolute;
	width: 95px;
	height: 23px;
	top: 840px;	

	line-height: 23px;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;

	background-color: red;
	
} */

#p1Grands{
	left: 143px;
}

#p2Grands{
	left: 1659px;
}

.characters{

	position: absolute;
	
	width: 100px;
	height: 62px;
	top: 0px;
	
	opacity: 0;
	}

#seat1Character{
	top:-100px;
	}
	
#seat2Character{
	top:-100px;
	}