@font-face{
	font-family: MainFont;
	src: url('DeaconFlock.otf');	
}

*{
	padding: 0;
	margin: 0;
}

body{
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	background: transparent;
	color: white;
	font-family: MainFont;
	text-transform: uppercase;
} 

#commBG{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background: url(img/commentary.png) no-repeat;
 }

.wrappers{
	padding:0px;
	margin:0px;

	position: absolute;
	width:	400px;
	height: 54px;
	top: 950px;


	line-height: 54px;
	text-align: center;	
	font-size: 32px;
	opacity: 0;

	/* background-color: brown; */
}

#c1Wrapper{
	left: 223px;
}

#c2Wrapper{
	left: 1314px;
}

.twitters{
	padding:0px;
	margin:0px;

	position: absolute;
	width:	400px;
	height: 40px;
	top: 995px;

	line-height: 40px;
	text-align: center;	
	font-size: 20px;
	opacity: 0;

	/* background-color: cadetblue; */

}

#c1Twitter{
	left: 223px;
}

#c2Twitter{
	left: 1314px;
}

.team{
	color:#ff00a4;
}