@font-face{
	font-family: MainFont;
	src: url('../fonts/HelveticaXBC/FreeSansBoldOblique.ttf');	
}

@font-face{
	font-family: CommUnderFont;
	src: url('../fonts/HelveticaXBC/FreeSansOblique.ttf');	
}

*{
	padding: 0;
	margin: 0;
}

body{
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	background: transparent;
	color: white;
	font-family: MainFont;
	text-transform: uppercase;
} 

#commBG{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background: url(img/comm.png) no-repeat;

	/* margin-top: -800px; */
 }

.wrappers{
	padding:0px;
	margin:0px;

	position: absolute;
	width:	381px;
	height: 60px;
	top: 918px;

	line-height: 60px;
	text-align: center;	
	font-size: 32px;
	opacity: 0;
	
	letter-spacing: -0.15rem;
	
	-webkit-text-stroke-color: #678fc9;
	-webkit-text-stroke-width: 2px;
	
	/* margin-top: -800px;
	background-color: rebeccapurple; */


}

#c1Wrapper{
	left: 264px;
}

#c2Wrapper{
	left: 1176px;
}

.twitters{
	padding:0px;
	margin:0px;

	font-family: CommUnderFont;


	position: absolute;
	width:	182px;
	height: 30px;
	top: 1010px;

	line-height: 30px;
	text-align: center;	
	font-size: 20px;
	opacity: 0;

	
	/* margin-top: -800px; */
	/* background-color: rebeccapurple; */

}

#c1Twitter{
	left: 510px;
}

#c2Twitter{
	left: 1420px;
}

.team{
color: #678fc9;
}


